# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
env/
venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Excel/CSV outputs (только выходные)
final/*.xlsx
*.csv

# OS
.DS_Store
Thumbs.db
